<p>Header</p>
<div class="Container d-flex justify-content-around mb-1 align-items-center">
  <div class="row w-10">
    <input
      routerLink="/"
      type="button"
      class="btn btn-outline-info"
      value="Registration"
    />
  </div>

  <div class="row w-10">
    <input
      routerLink="/students"
      type="button"
      class="btn btn-outline-info"
      value="Students"
    />
  </div>

  <div class="row w-10">
    <input
      routerLink="/students/1"
      type="button"
      class="btn btn-outline-info"
      value="Student Details"
    />
  </div>

  <div class="row w-10">
    <input
      routerLink="/error"
      type="button"
      class="btn btn-outline-info"
      value="Error"
    />
  </div>
</div>
